
@font-face {
    font-family: 'Montserrat';
    src: url("../src/assets/fonts/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url("../src/assets/fonts/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url("../src/assets/fonts/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url("../src/assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../src/assets/fonts/SourceSansPro-Regular.ttf") format('truetype');
}